
1st player for a new game? TESTED
<div class="col-xs-10 col-xs-offset-1">
	<h4>Start a new game?</h4>

	<%= current_user.id.class %>

	<%= simple_form_for Game.new, :url => games_path do |f| %>
		<%= f.input :player_black_id ,:as => :hidden, :input_html => { :value => current_user.id } %>
		<%= f.input :player_white_id ,:as => :hidden, :value => nil %>
		<div class="input-group">
			<%= f.input :name_for_game, :label => false, :input_html => {:value => "Match vs player: #{current_user.email[/[^@]+/]}"}, :placeholder => "Match vs player: #{current_user.email[/[^@]+/]}", :readonly => true %>
			<span class="input-group-btn"><%= f.submit "Create game", :class => 'btn btn-warning' %></span>
		</div>
	<% end %>
<br />
</div>


<%= @game.inspect %>


Pick a player to start a game? TESTED


Games you are playing: TESTED
