<div id="board" class="col-xs-10 col-xs-offset-1">
  <% positions = {} %>

  <table>
    <% ('a'..'h').to_enum.with_index.reverse_each do |letter, index| %>
      <tr>
        <th>
          <%= letter %>
        </th>
        <% (0..7).each do |col| %>
          <td>
            <% if @game_piece.x == col && @game_piece.y == index %>
              <div class="selected">
                <%= @game_piece.type %>
              </div>
            <% else %>
              <%= link_to 'next move', move_path(@game, :game_piece_id => @game_piece.id, :new_x => col, :new_y => index),:method => :post %>
              <% @game_pieces.each do |game_piece| %>
                <% if game_piece.x == col && game_piece.y == index %>
                  <%= game_piece.type %>
                <% end %>
              <% end %>

              <!--% row %-->
              <% col %>
            <% end%>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <% (0..8).each do |num| %>
          <th class="text-center foot">
            <%= num if num != 0 %>
          </th>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
